<html><head>
  <title>Environment Variables</title>
</head><body>
  <h1>Environment Variables</h1>
  <table border="1" cellpadding="5">
    <tr>
      <td>Name</td>
      <td>Value</td>
    </tr>
    <% @env.each do |name, value| %>
      <tr>
        <td><%= name %></td>
	<td><%= value %></td>
      </tr>
    <% end %>
  </table>
</body></html>

